---
layout: layout
---

<%
var years = {};
site.posts.sort('date').reverse().forEach(function(post){
    var year = post.date.year()
    if(years[year]===undefined){
        years[year] = [];
    }
    years[year].push(post);
});
%>

<!-- 归档列表 -->

<ul class="archives">
    <% Object.keys(years).reverse().forEach(function(year){  %>
        <div class="one-tag-list">
            <span id="<%= year %>">
                <span class="tag-text"><%= year %></span>
            </span>
            <ul>
                <% years[year].map(function(post){  %>
                <li>
                    <span><%= post.date.format('MM-DD') %></span>
                    <a href="<%- config.root %><%- post.path %>">
                        <span class="hover-underline-animation">
                            <%- (post.title || "Untitled").replace(/[<>&"]/g,function(c){
                                return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
                            }) %>
                        </span>
                    </a>
                </li>
            <% }) %>
            </ul>
        </div>
    <% }) %>
</ul>
