<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/head') %>
  <body>
    <% if (!is_post()) { %>
      <%- partial('_partial/nav', null, {cache: true}) %>
    <% } %>

    <main class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto"><%- body %></div>
      </div>
    </main>

    <%- partial('_partial/footer', null, {cache: true}) %>

    <script>
      window.hexo_search_path = "<%- config.search ? config.search.path : ""%>"
      window.hexo_root = "<%- config.root %>"
      window.isPost = <%- is_post() %>
    </script>

    <script>
      // service worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js')
        })
      }
    </script>
    <%if( (is_post() || is_current('about')) && config.comment && config.comment.type === 'livere'){%>
      <script type="text/javascript">
        (function() {
            if (typeof LivereTower === 'function') { return; }

            var j, d = document.getElementById('lv-container');

            d.setAttribute('data-id','<%- config.comment.livere_id %>');
            d.setAttribute('data-uid' , '<%- config.comment.livere_uid %>');

            j = document.createElement('script');
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            d.appendChild(j);
        })();
      </script>
      <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
    <% } %>
    <script src=https://www.googletagmanager.com/gtag/js?id=UA-119658292-2"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-119658292-2')
    </script>
  </body>
</html>
