<article class="article">
  <section>
    <h1 class="article-title">
      <%- page.title.replace(/[<>&"]/g, function(c){
        return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
      }) _%>
    </h1>
    <p class="article-meta">
      <span class="meta-info">
        <%= __('post.updateTime') %>：<%- page.updated.format(config.date_format) +" "+ page.updated.format(config.time_format)%>
        <% if (page.tags.length){ %>
          <%= __('post.tags') %>：
          <% page.tags.forEach(function(tag){ %>
            <a class="meta-tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
          <% }) %>
        <% } %>
      </span>
      <a  class="meta-link" href="/">返回</a>
    </p>
  </section>
  <section><%- page.content %></section>
</article>

<section class="article" id="lv-container"></section>

<script type="text/javascript">
  (function() {
      if (typeof LivereTower === 'function') { return; }

      var j, d = document.getElementById('lv-container');

      d.setAttribute('data-id','<%- config.comment.livere_id %>');
      d.setAttribute('data-uid' , '<%- config.comment.livere_uid %>');

      j = document.createElement('script');
      j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
      j.async = true;

      d.appendChild(j);
  })();
</script>

<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>

