<article >
  <section class="post-heading">
    <h1>
      <%- page.title.replace(/[<>&"]/g,function(c){
        return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
      }) %>
    </h1>
    <span class="meta">
      <%= __('post.postTime') %>：<span><%- page.date.format(config.date_format) +" "+ page.date.format(config.time_format)%>
      &nbsp;&nbsp;
      <% if (page.tags.length){ %>
        <span class="attr"><%= __('post.tags') %>：
        <% page.tags.forEach(function(tag){ %>
          <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
        <% }) %>
      <% } %>
    </span>
  </section>
  <section class="mt-5">
    <%- page.content %>
  </section>
  <section id="lv-container"></section>
</article>
