<div class="avatar">
	<img class="avatar-img" height="180" src="<%= config.root %><%= config.avatar %>" />
</div>

<h2 class="username"><%= config.author %></h2>

<a class="subtitle auto-typing" href="https://www.youtube.com/watch?v=ja-n5qUNRi8" target="_blank"
	rel="noopener noreferrer">EVERYBODY DIES, BUT NOT EVERYBODY LIVES</a>

<p class="about-links">
	<% if (config.sns.github) { %>
	<a class="about-link" target="_blank" rel="noopener" href="https://github.com/<%= config.sns.github %>">Github</a>
	<% } %>
	<% if (config.sns.juejin) { %>
	<a class="about-link" target="_blank" rel="noopener" href="https://juejin.im/user/<%= config.sns.juejin %>">掘金</a>
	<% } %>
	<% if (config.sns.twitter) { %>
	<a class="about-link" target="_blank" rel="noopener" href="https://twitter.com/<%= config.sns.twitter %>">Twitter</a>
	<% } %>
</p>
